@using CMS.Enums
@using CMS.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CMS.Models.RateModel

@{
    ViewData["Title"] = "Szczegóły";

    var userModel = ViewData["CurrentUserModel"] as UserModel;
}

<h1>Szczegóły</h1>

<div>
    <h4>Ocena</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PageId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Page.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.IdentityUser.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    @if (userModel?.Role == UserRolesEnum.Administrator || userModel?.Role == UserRolesEnum.Moderator)
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edytuj</a>
    }

    <a asp-action="Index">Powrót do listy</a>
</div>
